---
import Layout from '../layouts/Layout.astro';
import BlogPosts from '../components/BlogPosts.astro';
import Aside from '../components/Aside.astro';
import Navigation from '../components/Navigation.astro';
---

<Layout>
	<Navigation />
	<main>
		<div class="general-content">
			<Aside />
			<BlogPosts />
		</div>
	</main>
</Layout>

<style>
	main{
		width: 1250px;
		margin: 0 auto;
	}
	main .general-content{
		display: grid;
		grid-template-columns: 20% 80%;
		padding-top: 100px;
		font-family: "Archivo Narrow", sans-serif;
	}
</style>