---
---

<aside>
    <h2>About Me</h2>
    <p>Welcome to my blog! I'm Steven, a web developer and tech enthusiast. Here, I share my thoughts on web development, programming, and technology trends.</p>
    <h3>Contact</h3>
    <ul>
        <li>Email:
</aside>

<style>
    aside {
        padding: 0 1rem;
        height: 100vh;
    }
</style>