
<nav>
	<div class="logo">
        <a href="/" class="home-redirect"><img src="/logo.png" alt="">DeV</a>
    </div>
	<div class="center-nav">
        <div class="search-bar">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="#000000" fill-rule="evenodd" d="M18.319 14.433A8.001 8.001 0 0 0 6.343 3.868a8 8 0 0 0 10.564 11.976l.043.045l4.242 4.243a1 1 0 1 0 1.415-1.415l-4.243-4.242zm-2.076-9.15a6 6 0 1 1-8.485 8.485a6 6 0 0 1 8.485-8.485" clip-rule="evenodd"/></svg>
            <input type="text" class="search-bar-input" placeholder="Buscar" />
            <ul class="showResults"></ul>
        </div>
    </div>
    <div class="theme-lang">
        <!--<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 256 256"><path fill="#000000" d="m247.15 212.42l-56-112a8 8 0 0 0-14.31 0l-21.71 43.43A88 88 0 0 1 108 126.93A103.65 103.65 0 0 0 135.69 64H160a8 8 0 0 0 0-16h-56V32a8 8 0 0 0-16 0v16H32a8 8 0 0 0 0 16h87.63A87.76 87.76 0 0 1 96 116.35a87.7 87.7 0 0 1-19-31a8 8 0 1 0-15.08 5.34A103.6 103.6 0 0 0 84 127a87.55 87.55 0 0 1-52 17a8 8 0 0 0 0 16a103.46 103.46 0 0 0 64-22.08a104.2 104.2 0 0 0 51.44 21.31l-26.6 53.19a8 8 0 0 0 14.31 7.16L148.94 192h70.11l13.79 27.58A8 8 0 0 0 240 224a8 8 0 0 0 7.15-11.58M156.94 176L184 121.89L211.05 176Z"/></svg>-->
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 12 12"><path fill="#666666" d="M4 9h3V8h1V5H7V4h1v1h1v1h1V4H9V3H8V2H3v1H2v1H1v2h1V5h1V4h1v1H3v3h1Zm-2 1h1V9H2ZM1 9h1V8H1ZM0 8h1V6H0Zm3 3h5v-1H3Zm5-1h1V9H8ZM6 7V6H5V5h1v1h1v1Zm3 2h1V8H9Zm1-1h1V6h-1Zm0 0"/></svg><span>0</span>
    </div>
</nav>

<script>
  async function setupSearch() {
    
    const input = document.querySelector(".search-bar-input");
    const results = document.querySelector(".showResults");
    console.log(input);

    // Carga el índice de posts
    const res = await fetch("/search.json");
    const posts = await res.json();

    input.addEventListener("input", () => {
      const query = input.value.toLowerCase();
      results.innerHTML = "";

      if (!query) return;

      const filtered = posts.filter((post) =>
        post.title.toLowerCase().includes(query)
      );

     if(filtered.length > 0) {
        filtered.forEach((post) => {
          const li = document.createElement("li");
          li.classList.add("search-item"); // clase directa
          li.innerHTML = `<a href="${post.url}" style="text-decoration: none; color: black; font-size: 16px; font-weight: 200; display: inline-block; padding: 5px 15px;">${post.title}</a>`;
          results.appendChild(li);
        });
      }else{
        results.innerHTML = `<li style="text-decoration: none; color: black; font-size: 16px; font-weight: 200; display: inline-block; padding: 5px 15px;">No se encontraron resultados</li>`;  
      }
    
    });
  }

  setupSearch();
</script>

<style>
 nav {
  width: 100%;
  height: 80px;
  background: rgba(255, 255, 255, 0.7); /* fondo semi-transparente */
  backdrop-filter: blur(8px); /* efecto blur */
  -webkit-backdrop-filter: blur(8px); /* soporte Safari */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
  font-family: "Archivo Narrow", serif;
  font-size: 1.5rem;
  font-weight: bold;
  position: fixed;
  top: 0;
  padding: 0 50px;
  box-sizing: border-box; 
  z-index: 1000; /* asegura que quede por encima del contenido */
}

nav .logo {
  display: flex;
  align-items: center;
  gap: 5px; 
}

nav .logo img {
  height: 25px;
  width: auto;
}

nav .home-redirect {
  color: black;
  text-decoration: none;
  display: flex;
  width: 160px;
  font-weight: 500;
  color: rgb(104, 104, 104);
}

nav .center-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .center-nav .search-bar {
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 100%;
  max-width: 500px;
  padding-left: 5px;
  border-radius: 5px;
  position: relative;
}

nav .center-nav .search-bar input {
  width: 100%;
  max-width: 500px;
  height: 26px;
  border: none;
  font-size: 1rem;
  font-family: "Archivo Narrow", sans-serif;
  color: #000000;
  outline: none;
  background-color: transparent;
}

nav .center-nav .search-bar .showResults {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  list-style: none;
  padding: 0;
  margin: 4px 0 0 0;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  z-index: 999;
}



nav .search-bar input::placeholder {
  color: black;
}

nav .theme-lang {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
}

nav .theme-lang svg {
  cursor: pointer;
}

</style>